[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
	branch = devel
[submodule "pyreadr"]
	path = pyreadr
	url = https://github.com/ofajardo/pyreadr.git
